// モンスター
#monster-text {
  height: 350px;
  text-align: center;
  position: relative;
}

.monster {

  &-name {
    border: solid 2px white;
    color: white;
    width: 300px;
    font-family: 'DotGothic16', sans-serif;
  }

  &-btn {
    border: solid 2px white;
    color: white;
    border-radius: 0.2em;
    cursor: pointer;
    font-family: 'DotGothic16', sans-serif;
  }

  // &-list {
  //   border: solid 2px white;
  //   padding: 4px;
  //   color: white;
  //   border-radius: 0.2em;
  //   cursor: pointer;
  //   font-family: 'DotGothic16', sans-serif;
  // }

  &-appearance {
    position: absolute;
    top: -100px;
    left: 30%;
  }

  // &-btn{
  //   @extend &-name,
  // }
}

// コマンド
#container-command {
  height: 150px;
  margin-bottom: 20px;
}

.command {
  display: flex;
  text-align: center;
  justify-content: center;

  &-text{
    border: solid 2px white;
    border-radius: 0.5em;
    width: 700px;
    height: 130px;
    margin: 0 auto;

    li{
      color: white;
    }
  }
}

.action {
  border: solid 2px white;
  border-radius: 0.2em;
  width: 200px;
  padding: 10px;
  color: white;
  background-color: black;
  margin: 0 10px 10px;
  cursor: pointer;
  font-family: 'DotGothic16', sans-serif;
}

// .fade {
//   margin-top: 120vh;
//   text-align: center;
//   opacity: 0;
//   transition: opacity 6s;
// }

// .fade.view {
//   opacity: 1;
// }